.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: visible;
  position: relative;
}

.svg-container {
  flex: 1;
  align-items: center;
  justify-content: center;
}


.left-buttons {
  display: flex;
}

.right-button {
  display: flex;
}

.landing-button {
  margin-right: 10px;
}

.right-button .landing-button {
  margin-right: 0;
}

@media (max-width: 480px) {
  .landing-button {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    padding: 0 !important;
  }

  .button-section {
    padding: 2000px 10px;
  }
}

.button-section {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 1);
  padding: 20px 0px;
  z-index: 1000;
  border-radius: 20px;
  margin-bottom: -10px;
}



