.landing-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.svg-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.parentbutton{

  background-color: black;
}